## Excercise 3

### Question 1

In [ ]:
# Buatlah code dari tipe integer menjadi variable, lalu print .

pensil = 78
print(pensil)

78

In [ ]:
type(pensil)

int

### Question 2

In [ ]:
#Konversikan tipe data variabel tersebut menjadi string

str(pensil)

'78'

### Question 3

In [ ]:
#Konversikan tipe data variabel tersebut menjadi float

float(pensil)

78.0

### Question 4

In [ ]:
#Buatlah pemrograman Python untuk menampilkan warna pertama dan terakhir dari tipe data list di bawah
color_list = ["Red","Green","White" ,"Black"]

print('Pertama: ',color_list[0], ', Terakhir: ', color_list[3])

Pertama:  Red , Terakhir:  Black

In [ ]:
print('Pertama: ',color_list[0], ', Terakhir: ', color_list[len(color_list)-1])

Pertama:  Red , Terakhir:  Black

In [ ]:
print('Pertama: ',color_list[0], ', Terakhir: ', color_list[-1])

Pertama:  Red , Terakhir:  Black

### Question 5

In [ ]:
# Cetak secara reverse list yang tersedia
# Contoh:
# Input : list = [10, 11, 12, 13, 14, 15]
# Output : [15, 14, 13, 12, 11, 10]

# membuat list
lst = [11, 5, 17, 18, 23, 50]
print('list: ', lst)

list:  [11, 5, 17, 18, 23, 50]

In [ ]:
lst.reverse()

In [ ]:
lst

[50, 23, 18, 17, 5, 11]

In [ ]:
lst = [11, 5, 17, 18, 23, 50]

In [ ]:
lst[::1]

[11, 5, 17, 18, 23, 50]

In [ ]:
lst[::-1]

[50, 23, 18, 17, 5, 11]

In [ ]:
lst = [11, 5, 17, 18, 23, 50]
# reverse list
print('reverse list: ', lst[::-1])

reverse list:  [50, 23, 18, 17, 5, 11]

### Question 6

In [ ]:
# hilangkan elements dari index 1 sampai 4
lst = [11, 5, 17, 18, 23, 50]

del lst[1:5]
lst

[11, 50]

### Question 7

In [ ]:
# Tuliskan Python program untuk menggabungkan dua dictrionary adding values untuk common keys.
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [ ]:
for key in d2:
    if key in d1:
        d2[key] = d2[key] + d1[key]

In [ ]:
d2

{'a': 400, 'b': 400, 'd': 400}

In [ ]:
d1

{'a': 100, 'b': 200, 'c': 300}

In [ ]:
c = {**d1, **d2}
print(c)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

from collections import Counter
         
Cdict = Counter(d1) + Counter(d2)
print(Cdict)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

### Question 8

In [ ]:
# Tuliskan Python program untuk menggabungkan dua dictionary Python
d1 = {'a': 100, 'b': 200}
d2 = {'b': 100, 'y': 200}

In [ ]:
{**d1, **d2}

{'a': 100, 'b': 100, 'y': 200}

In [ ]:
Counter = dict(d1,**d2)
print (Counter)

{'a': 100, 'b': 100, 'y': 200}

In [ ]:
d1.update(d2)

In [ ]:
d1

{'a': 100, 'b': 100, 'y': 200}

### Question 9

In [ ]:
# Kembalikan item yang sama dari kedua set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

{30, 40, 50}

In [ ]:
set1.intersection(set2)

{30, 40, 50}

In [ ]:
set1 & set2

{30, 40, 50}

### Question 10

In [ ]:
# Reverse tipe data tupel di bawah
tuple1 = (10, 20, 30, 40, 50)

In [ ]:
tuple1[::-1]

(50, 40, 30, 20, 10)

In [ ]:
reversed(tuple1)

In [ ]:
# Reverse tipe data tupel di bawah
tuple1 = (10, 20, 30, 40, 50)

# expected output : (50, 40, 30, 20, 10)

tuple(reversed(tuple1))

(50, 40, 30, 20, 10)

In [ ]:
tuple1_list = list(tuple1)

tuple1_list.reverse()

In [ ]:
tuple(tuple1_list)

(50, 40, 30, 20, 10)

In [ ]:
# Reverse tipe data tupel di bawah
def Reverse(tuple1):
    new_tup = tuple1[::-1]
    return new_tup
tuple1 = (10, 20, 30, 40, 50)

# expected output : (50, 40, 30, 20, 10)
print(Reverse(tuple1))

(50, 40, 30, 20, 10)

## Excercise 4

### Question 1

In [ ]:
# Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

def calculation(a, b):
    # Your Code
    return 

# calculation(40, 10), expected return 50,30

In [ ]:
def nama_fungsi(input):
  hasil = input + 1
  return hasil

In [ ]:
def calculation(a, b):
    penjumlahan = a+b
    pengurangan = a - b
    return penjumlahan, pengurangan

In [ ]:
calculation(40, 10)

(50, 30)

In [ ]:
penjumlahan, pengurangan = calculation(40, 10)

In [ ]:
penjumlahan

50

In [ ]:
pengurangan

30

### Question 2

In [ ]:
# Define a function that accepts lowercase words and returns uppercase words.

def response(txt):
    # Your Code
    return 

# response('myskill'), expected return 'MYSKILL'

In [ ]:
def response(txt):
    res = txt.upper()
    return res

response('myskill')

'MYSKILL'

In [ ]:
txt = 'MySkill'

txt.upper()

'MYSKILL'

### Question 3

In [ ]:
# Write a program to check whether a number entered by user is even or odd.
# hints using if else

In [ ]:
def genap_ganjil(a):
    if a % 2 == 0:
      res = 'genap'
    else :
      res = 'ganjil'
    return res
    
genap_ganjil(3)

'ganjil'

In [ ]:
def genap_ganjil(a):
    res = 'ganjil'

    if a % 2 == 0:
      res = 'genap'
    return res

genap_ganjil(3)

'ganjil'

In [ ]:
a=2 # assign value

a==2 # apakah a itu sama dengan 2

True

In [ ]:
print('baris pertama')
a = 3
if a==2:
  print('nilai a, memang', a)
else :
  print('nilai a bukan 2')
print('baris terakhir')

baris pertama
nilai a bukan 2
baris terakhir

### Question 4

In [ ]:
# Write a for loop so that every item in the list is printed.
lst=["koala", "cat", "fox", "panda", "chipmunk", "sloth", "penguin", "dolphin"]

In [ ]:
for a in lst:
  print(a)

koala
cat
fox
panda
chipmunk
sloth
penguin
dolphin

### Question 5

In [ ]:
# The while loop below defines the condition (x < 10) and repeats the instructions until that condition is true.

In [ ]:
x = 1       # nilai awal

while x < 10 : # syarat
  print(x)     # perintah yg dijalankan
  x = x+1

1
2
3
4
5
6
7
8
9

### Question 6

In [ ]:
# Write a lambda function which takes z as a parameter and returns z*11
# Assign it to variable named: f.

In [ ]:
f = lambda z : z*11

In [ ]:
i=9

f = lambda z : z*11
print(f(i))

99

### Question 7

In [ ]:
# Multiply argument a with argument b and return the result using lambda

In [ ]:
a = 4
b = 3

perkalian = lambda a, b : a*b
print(perkalian(a,b))

12

In [ ]:
perkalian = lambda a, b, c, d, e : a+b+c+d+e
print(perkalian(1,1,1,1,1))

5

### Question 8

In [ ]:
# Write while with break with condition Exit the loop when i is 3:

In [ ]:
i = 0
while i >= 0:
  print(i)
  i = i+1
  if i == 3:
    break
  
print('Loop ended.')

0
1
2
Loop ended.

### Question 9

In [ ]:
# write for loop with range() function and print number from 0 to 4

In [ ]:
[0,1,2,3,4]

[0, 1, 2, 3, 4]

In [ ]:
lsta = [1,2,3,4]

In [ ]:
for i in lsta:
  print(i)

1
2
3
4

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
for i in range(4):
  #function()
  print(i)

0
1
2
3

In [ ]:
i = int(input('Masukkan range cetak angka dari 0 sampai = '))
for x in range(i+1):
  print(x)

Masukkan range cetak angka dari 0 sampai = 11
0
1
2
3
4
5
6
7
8
9
10
11

### Question 10

In [ ]:
# Access Index in for Loop, print list and its index with for loop
colors = ['blue','red','green','yellow']
# expected output
# 0 blue
# 1 red
# 2 green
# 3 yellow

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3}

In [ ]:
for value, key in enumerate(dict1):
  print(value, key)

0 a
1 b
2 c

In [ ]:
for index in range(len(colors)):
  print(index,' ',colors[index])
colors = ['blue','red','green','yellow']
for index in range(len(colors)):
  print(index,' ',colors[index])

0   blue
1   red
2   green
3   yellow
0   blue
1   red
2   green
3   yellow

In [ ]:
colors = ['blue','red','green','yellow']
for x in colors:
    print (colors.index(x),x)

0 blue
1 red
2 green
3 yellow